services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    ports:
      - "3000:3000"
    

    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
          ignore:
            - node_modules
            - .next
            - .vscode
            - .git
            - .env
        - action: rebuild
          path: package.json