@font-face {
    font-family: 'Corinthia';
    src: url('/fonts/Corinthia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gideon';
    src: url('/fonts/Gideon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}